body {
			background-image: url("baking.jpg");
			background-size: auto;
			text-align: center;
			
}

nav {
	color: white;
	
	
}

hgroup {
	color: white;
	outline-color: black
	
}
	

section {
	color: white;
}
footer {
	color: white;
}